{% extends 'treeview_app/base.html' %}
{% load staticfiles %}

{% block script %}
<link href="{% static 'treeview_app/css/jsontree.css' %}" rel="stylesheet">
<script src="{% static 'treeview_app/js/jsontree.js' %}"></script>
{% endblock %}
{% block title %}Tree image info {% endblock%}


{%block content %}
<div id="imageinfo"></div>

<script>

    var temp = JSON.parse('{{ json_string | escapejs }}')

    document.getElementById("imageinfo").innerHTML = JSONTree.create(temp);
</script>
{% endblock %}
