<body>

    <h1>Main page</h1>

    <table align="center">
        <tr>
            <td>
                <form action="/installInfo">
                    <input type="submit" value="Install info" />
                </form>
            </td>
            <td>
                <form action="/actions">
                    <input type="submit" value="Actions" />
                </form>
            </td>
            <td>
                <form action="/tools">
                    <input type="submit" value="Tools" />
                </form>
            </td>
            <td>
                <form action="/images">
                    <input type="submit" value="Images info" />
                </form>
            </td>
            <td>
                <form action="/asserts">
                    <input type="submit" value="Asserts(TODO)" />
                </form>
            </td>
            <td>
                <form action="/imagesGraphs">
                    <input type="submit" value="Graphics for images" />
                </form>
            </td>
            <td>
                <form action="/installGraphs">
                    <input type="submit" value="Graphics for install" />
                </form>
            </td>
            <td>
                <form action="/toolsTableUse">
                    <input type="submit" value="Table for tools use" />
                </form>
            </td>
            <td>
                <form action="/toolsTableActivate">
                    <input type="submit" value="Table for tools activate" />
                </form>
            </td>
            <td>
                <form action="/actionsTable">
                    <input type="submit" value="Table for actions" />
                </form>
            </td>


            <td>
                <form action="http://google.com">
                    <input type="submit" value="Go to Google" />
                </form>
            </td>


        </tr>
    </table>