{% extends 'treeview_app/base.html' %}
{% block page %}
{% block content %}
<div class="container">
    <!-- Example row of columns -->

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Tools</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6"><a href="/tools"
                                                   class="btn btn-sm animated-button victoria-one">Tree</a></div>
        <div class="col-md-4 col-sm-4 col-xs-6"><a href="/toolsTableUse"
                                                   class="btn btn-sm animated-button victoria-one">Table use</a></div>
        <div class="col-md-4 col-sm-4 col-xs-6"><a href="/toolsTableActivate"
                                                   class="btn btn-sm animated-button victoria-one">Table activate</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mrng-60-top">Install</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6"><a href="/installInfo" class="btn btn-sm animated-button victoria-one">Tree</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6"><a href="/installGraphs"
                                                   class="btn btn-sm animated-button victoria-two">Graphics</a></div>
    </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mrng-60-top">Actions</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6"><a href="/actions" class="btn btn-sm animated-button victoria-three">Tree</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6"><a href="/actionsTable"
                                                   class="btn btn-sm animated-button victoria-three">Table</a></div>
    </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mrng-60-top">Image info</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6"><a href="/images"
                                                   class="btn btn-sm animated-button victoria-four">Tree</a></div>
        <div class="col-md-6 col-sm-6 col-xs-6"><a href="/imagesGraphs"
                                                   class="btn btn-sm animated-button victoria-four">Graphics</a></div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mrng-60-top">Asserts</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6"><a href="/assertsInfo" class="btn btn-sm animated-button victoria-one">Tree</a>
        </div>
    </div>
</div>

{% endblock %} {% endblock %}